{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <a class="blr-cl" href="">Home</a>
        <a class="blr-cl" href="">about</a>
        <a class="blr-cl" href="">contact</a>
        <a class="blr-cl" href="">help</a>
    </div>
    <hr
    <div>
        <h3 class="clg-clor">Srinivasa ramanjun institute of technology</h3>
    </div>
    <hr
    <img src="{% static 'image/Screenshot(53).png' %}"
</body>
</html>