<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="ex.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a class="blr-cl" href="">Home</a>
        <a class="blr-cl" href="">about</a>
        <a class="blr-cl" href="">contact</a>
        <a class="blr-cl" href="">help</a>
    </div>
    <hr
    <div>
        <h3 class="clg-clor">Srinivasa ramanjun institute of technology</h3>
    </div>
</body>
</html>